.DS_Store
node_modules/
dist/
.env
.vscode/
.idea/
*.log
coverage/
*.tmp
*.bak
*.swp

# python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
build/
develop-eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg